main(class="main__section")
    div(class="main__section__profile")
        figure(class="main__section__profile__figure")
            img(src="./assets/images/edina.jpg", class="main__section__profile__photo")
        article(class="main__section__profile__description") Licenciatura en Informática de la Facultad de Estudios Superiores de Cuautitlán, UNAM. Implementó el diseño de la página, la estructura, la elección y optimización de la información. Cristiana psicopata, amante de la brujeria, le gustan todos los hombres, las mujeres y kimeras.
    div(class="main__section__profile")
        figure(class="main__section__profile__figure")
            img(src="./assets/images/sezzh.jpg", class="main__section__profile__photo")
        article(class="main__section__profile__description") Licenciatura en Informática de la Facultad de Estudios Superiores de Cuautitlán, UNAM. Programó la totalidad de la página web. La accesibilidad y la conformidad a las normas de calidad web. Cree que el cielo es azul.
