<!DOCTYPE html>
html(lang="es")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Molina, Cruz y Asociados, S.A. de C.V.
    link(rel="stylesheet", href="./css/bower_components/normalize.css/normalize.css")
    link(rel="stylesheet", href="./css/fonts.css")
    link(rel="stylesheet", href="./css/styles.css")
body.main
    div(class="js-app__container")
    script(src="./js/app.js")
