/* Gray scales */

darkenGray = #A6A6A6
secoundDarkenGray = #DCDCDC
thirtDarkenGray = #E8E8E8
fourDarkenGray = #EBEBEB
darkBackgroundColor = #141414

/* font colors */

darkenFontColor = #020202
brightFontColor = #efefef
paletteFontColor = #E8B51B

edinaFont = 'times_sans_serifregular'

/*palette  #F3C94E */

borderColorYellow = #F3C94E
