.main__section
    font-size 16px
    width 90%
    margin 0 auto
    &__title
        font-size 2.4rem
        font-weight normal
    &__subtitle
        font-size 2rem
        font-weight normal
    &__paragraph
        font-size 1.4rem
    &__chat
        background-color #FF00FF
        width 100%
        &__list
            background-color peru
        &__player
            margin-bottom 1rem
            &__input
                font-size 1.5rem
                padding 0
                background-color borderColorYellow
                border none
                height 3rem
                width 60%
            &__button
                box-sizing border-box
                border-radius 0 .25rem .25rem 0
                width 40%
                padding 0
                border 1px solid borderColorYellow
                background-color darkenFontColor
                height 3rem
                font-size 1.5rem
                font-family edinaFont
    &__profile
        margin 2rem auto
        width 100%
        height 250px
        display flex
        flex-wrap nowrap
        &__figure
            position relative
            width 30%
            height 200px
        &__photo
            border-radius 50%
            top 0
            bottom 0
            left 0
            right 0
            position absolute
            max-width 90%
            max-height 90%
            margin auto
        &__description
            padding-top 3rem
            width 70%
            font-size 1.4rem
