header.header
div(class="header__div")
    figure(class="header__div__figure")
        img(src="./assets/images/logo_mc.png", class="header__div__logo")
    h1(class="header__div__title") Molina, Cruz y Asociados, S.A. de C.V.
