section(class="main__section__chat")
    ul(class="main__section__chat__list  js-chat__messages")
    form(action="", class="main__section__chat__player js-main__section__chat__player")
        input(type="text", class="main__section__chat__player__input  js-chat__m", autocomplete="off")
        button(class="main__section__chat__player__button") Enviar
