main(class="main__section")
    h2(class="main__section__title") ¿Qué ofrece el derecho informático?
    p(class="main__section__paragraph") El derecho de la informática, como instrumento regulador del fenómeno informático en la sociedad, no ha sido estudiado del mismo modo que la informática que la informática jurídica. Porque se ha dado las importancia a los beneficios que a los eventuales prejuicios que pueden traer consigo las computadoras que a los respecto al derecho y a sociedad en general. 
    p(class="main__section__paragraph") Cabe estableces sus ámbitos principales en injerencia en cinco vertientes bien determinadas: ayuda a la decisión, ayuda a la educación, ayuda a la investigación, ayuda a la previsión y ayuda a la redacción.
