nav(class="navigation")
    ul(class="navigation__list", data-menu="list")
        li(class="navigation__list__item  js-list__item")
            a(href="/dept", class="navigation__list__item__link") Departamentos
        li(class="navigation__list__item  js-list__item")
            a(href="/concept", class="navigation__list__item__link") Conceptos
        li(class="navigation__list__item  js-list__item")
            a(href="/service", class="navigation__list__item__link") Servicios
        li(class="navigation__list__item  js-list__item")
            a(href="/partner", class="navigation__list__item__link") Socios
        li(class="navigation__list__item  js-list__item")
            a(href="/contact", class="navigation__list__item__link") Contacto
