main(class="main__section")
    h2(class="main__section__title") Sobre nosotros
    p(class="main__section__paragraph") El "Derecho Informático" Es el sector normativo de los sistemas, dirigido a la regulación de las nuevas tecnologías de la información y la comunicación, es decir, la informática y la telemática.
    p(class="main__section__paragraph") En nuestro despacho desarrollamos nuestras cualidades humanas, orientadas en la rama de la Informática para elegir siempre decisiones y acciones basadas en la verdad y en la auténtica justicia, dando a cada uno lo que le pertenece según la legislación.
